*::selection{
  display: none;
}
body{
  background-color: bisque;
}

.App{
  margin-top: 8%;
  text-align: center;
  
}

.heading{
  font-family: fantasy;
  font-size: 70px;
  letter-spacing: 8px;
  
}

.game-bord{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}

.card{
  display: flex;
  font-family: cursive;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: rgb(225, 133, 21);
  /* font-size: 24px; */
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}

.show{
  font-size: 24px;
}

.hide{
  font-size: 0px;
}

.remove{
  visibility: hidden;
}

button{
  font-family: cursive;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: cornflowerblue;
  font-size: 20px;
  font-weight: bold;
}
.uwon{
  font-family: cursive;
  font-size: 60px
}